// app global css in SCSS form

.chat-tool-uploader .q-uploader__list {
  position: relative;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 0;
  min-height: 0;
  flex: 1 1 auto;
}